html {
    display: table;
    margin: auto;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(228, 210, 184);
    height: 100%;
}

#title {
    color: rgb(202, 52, 114);
    font-family: monospace;
    }

#black-box {
    width: 52px;
    height: 50px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: black;
  }
  #pink-box {
    width: 52px;
    height: 50px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: pink;
  }
  #yellow-box {
    width: 52px;
    height: 50px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: yellow;
  }
  #orange-box {
    width: 52px;
    height: 50px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: orange;
  }
  #color-palette div {
    display: inline-block;
    justify-content: center;
    
  }
  #clear-board {
    width: 225px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color:rgb(177, 110, 110);
    font-family: monospace;
    background-color: rgb(228, 210, 184);
    
  }
  .pixel {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    background-color: white;
  }

  #row1 .pixel {
    display: inline-block;
  }
  #row2 .pixel {
    display: inline-block;
  }
  #row3 .pixel {
    display: inline-block;
  }
  #row4 .pixel {
    display: inline-block;
  }
  #row5 .pixel {
    display: inline-block;
  }
